<!DOCTYPE html>
<html>
<head><title>Update Peneliti</title></head>
<body style="font-family: Arial; padding: 20px;">
    <h2>Edit Data Peneliti (UPDATE)</h2>
    <form action="/update/{{ p.id_peneliti }}" method="POST" style="max-width: 300px;">
        <label>Nama Depan:</label>
        <input type="text" name="nama_depan" value="{{ p.nama_depan }}" required style="width: 100%; margin-bottom: 10px; padding: 5px;"><br>
        
        <label>Nama Belakang:</label>
        <input type="text" name="nama_belakang" value="{{ p.nama_belakang }}" required style="width: 100%; margin-bottom: 10px; padding: 5px;"><br>
        
        <button type="submit" style="padding: 10px; background: green; color: white; border: none; width: 100%;">Simpan Perubahan</button>
    </form>
</body>
</html>